<app-side-menu></app-side-menu>

<div class="container pt-4">
  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Quiz name</th>
          <th scope="col">Questions</th>
          <th scope="col">Date created</th>
          <th scope="col">Last time edited</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let quizName of quizList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{quizName}}</td>
          <td>{{questionNumberList[i]}}</td>
          <td>some date</td>
          <td>some date </td>
          <td><i class="material-icons" matTooltip="Edit quiz" (click)="onEdit(quizName)">border_color</i></td>
          <td><i class="material-icons" matTooltip="Delete quiz" (click)="onDelete(quizName)">delete</i></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>